html {
  scroll-behavior: smooth;
}

body {
	background-color: #eee;
	height: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow-x: hidden;
}

.vertical-center {
 display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  background-image: url("../img/background_banner.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center .cover-heading {
	font-family: 'Akaya Telivigala', cursive;
	color: #004080;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.vertical-center .cover-heading p.lead {
	font-family: 'Open Sans Condensed', sans-serif;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.header {
	z-index: 999;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
	background-color: rgba(255, 255, 255, 0.7);
	font-family: 'Akaya Telivigala', cursive;
}

.header .title {
	font-size: 14px;
}


.bloco-menu-mobile {
	position: relative;
	background-color: #ddd;
}

.navbar-toggler {
	display: none;
	border: 0;
}

.navbar-toggler:focus {
	outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#navbarHeader {
	display: none;
	background-color: #fff;
}

.logo {
	width: 48px;
}

.btn_mobile {
	display: none !important;;
}

.menu-mobile {
	padding: 20px;
	display: none;
	border-top: 1px #333 solid;
	border-bottom: 1px #333 solid;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

section h1 {
	margin: 0;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px #ddd solid;
	font-family: 'Akaya Telivigala', cursive;
}

.titulo_servicos {
	color: #444;
	padding: 20px 0;
}

.descricao_servicos {
	font-size: 14px;
	padding-bottom: 20px;
}

@media (max-width: 768px) {

	.container {
		padding: 0 20px;
	}

	h1.cover-heading {
		font-size: 30px;
	}

	.navbar-toggler {
		display: block;
	}

	.btn_mobile {
		display: block !important;
	}

	.menu-mobile {
		display: none;
	}

	.menu-desktop {
		display: none
	}

}
