body {
	background-color: #eee;
	height: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
}

.header {
	z-index: 999;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.navbar {
	background-color: rgba(255, 255, 255, 0.7);
}

.navbar-toggler {
	position: absolute;
	top: 10;
	right: 0;
	display: none;
	border: 0;
}

.navbar-toggler:focus {
	outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#navbarHeader {
	display: none;
	background-color: #fff;
}

.logo {
	width: 48px;
}

.menu-mobile {
	padding: 20px;
	display: none;
	border-top: 1px #333 solid;
	border-bottom: 1px #333 solid;
}

.cover-container {
  display: flex;
	/* The image used */
  background-image: url("../img/background_banner.jpg");

  align-items: center;
  justify-content: center;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

.cover-container .cover-heading {
	font-family: 'Akaya Telivigala', cursive;
	color: #004080;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

.cover-container .cover-heading p.lead {
	font-family: 'Open Sans Condensed', sans-serif;
}

@media (max-width: 768px) {

	.navbar-toggler {
		display: block;
	}

	.menu-mobile {
		display: block;
	}

	.menu-desktop {
		display: none
	}

}
